In [ ]:
import pandas as pd

In [3]:
## Different ways to Create a Data-Frame..
#1) From a Dictionary
import pandas as pd

# Creating a DataFrame from a dictionary
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Salary": [50000, 60000, 70000]
}
df = pd.DataFrame(data)
print("DataFrame created from a dictionary:")
print(df)

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["Mumbai", "Delhi", "Banglore"]
}
print('\n')
df = pd.DataFrame(data)
print("DataFrame created from a dictionary:")
print(df)

print('\n')
print(" Now we are creating  the DataFrame from List of Dictionaries")
# Another way to create a Dataframe 
data=[
    {'Name':'Krish','Age':32,'City':'Bangalore'},
    {'Name':'John','Age':34,'City':'Bangalore'},
    {'Name':'Bappy','Age':32,'City':'Bangalore'},
    {'Name':'JAck','Age':32,'City':'Bangalore'}
    
]
df=pd.DataFrame(data)
print(df)
print(type(df))

DataFrame created from a dictionary:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000


DataFrame created from a dictionary:
      Name  Age      City
0    Alice   25    Mumbai
1      Bob   30     Delhi
2  Charlie   35  Banglore


 Now we are creating  the DataFrame from List of Dictionaries
    Name  Age       City
0  Krish   32  Bangalore
1   John   34  Bangalore
2  Bappy   32  Bangalore
3   JAck   32  Bangalore
<class 'pandas.core.frame.DataFrame'>

In [5]:
### It can also Convert into numpy
import numpy as np
np.array(df)

array([['Alice', 25, 'Mumbai'],
       ['Bob', 30, 'Delhi'],
       ['Charlie', 35, 'Banglore']], dtype=object)

In [23]:
## We can also create a DataFrame from Numpy
#2. From a NumPy Array

import numpy as np

# Creating a DataFrame from a NumPy array
data = np.array([
    [25, 50000],
    [30, 60000],
    [35, 70000]
])
df = pd.DataFrame(data)
print("\nDataFrame created from a NumPy array:")
print(df)

## You can See indexing [0 ,1,...] in the following table 
## Instead of index for Columns we can give name to the index....we can in next example

DataFrame created from a NumPy array:
    0      1
0  25  50000
1  30  60000
2  35  70000

In [11]:
#2. From a NumPy Array

import numpy as np

# Creating a DataFrame from a NumPy array
data = np.array([
    [25, 50000],
    [30, 60000],
    [35, 70000]
])
df = pd.DataFrame(data, columns=["Age", "Salary"])
print("\nDataFrame created from a NumPy array:")
print(df)

DataFrame created from a NumPy array:
   Age  Salary
0   25   50000
1   30   60000
2   35   70000

In [48]:
#3. From a List of Lists

# Creating a DataFrame from a list of lists
data = [
    ["Alice", 25, 50000],
    ["Bob", 30, 60000],
    ["Charlie", 35, 70000]
]
columns = ["Name", "Age", "Salary"]
df = pd.DataFrame(data, columns=columns)
print("\nDataFrame created from a list of lists:")
print(df)

DataFrame created from a list of lists:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [30]:
####### Access elements 
#Accessing Data in a DataFrame
#Access Columns:

#Use the (column name) as a key.
# For this above example we can use (Column name ) as a key,, but if in any example we don't have (column name ) then we can use index to print and use(index) as key 
                                    # For that use example one before this 
print(df['Age'])  # Access the "Age" column
print('\n')
print(df['Name'])
print('\n')
print(df["Salary"])

"""# THIS IS WRT ACCESING COLOUMNS
### For Accesing each Cloumn  from index ..in a case when we do not have Cloumn key
print(df[0])  # Access the "Age" column
print('\n')
print(df[1])
print('\n')
print(df[2])
"""

0    25
1    30
2    35
Name: Age, dtype: int64


0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object


0    50000
1    60000
2    70000
Name: Salary, dtype: int64

'# THIS IS WRT ACCESING COLOUMNS\n### For Accesing each Cloumn  from index ..in a case when we do not have Cloumn key\nprint(df[0])  # Access the "Age" column\nprint(\'\n\')\nprint(df[1])\nprint(\'\n\')\nprint(df[2])\n'

In [42]:
#Access Rows:

#Use .loc[] for label-based indexing.
#Use .iloc[] for position-based indexing.
print(" The actual dataframe is \n ",df)
print(" \n The modified dataframe is \n")
print(df.loc[0])  # Access the first row (label-based)
print('\n')
print(df.iloc[1])  # Access the second row (position-based)

 The actual dataframe is
        Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

 The modified dataframe is

Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object


Name        Bob
Age          30
Salary    60000
Name: 1, dtype: object

In [45]:
# Access Specific Elements:
print(" The actual dataframe is \n ",df)
print(" \n The modified dataframe is \n")

print(df.loc[0, "Salary"])  # Access "Salary" of the first row
print(df.iloc[1, 2])  # Access the element at (1, 2)

print(df.loc[0, "Age"])  # Access "Age" of the first row

print(df.loc[1, "Name"])  # Access "Name" of the second row

print(df.loc[1, "Salary"])  # Access "Salary" of the second row
print(df.loc[2, "Salary"]) 
print(df.loc[2, "Age"])

 The actual dataframe is
        Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

 The modified dataframe is

50000
60000
25
Bob
60000
70000
35

In [46]:
# Examples on Accesing the elements on diffrent position

print(df.iloc[0, 2])  
print(df.iloc[1, 0])  
print(df.iloc[2, 1])  
print(df.iloc[0, 0])

50000
Bob
35
Alice

In [49]:
#Basic Operations on DataFrames
#1. Adding Columns

print(" The actual dataframe is \n ",df)
print(" \n The modified dataframe is \n")

df["Department"] = ["HR", "Finance", "IT"]
print("\nDataFrame after adding a new column:")
print(df)

 The actual dataframe is
        Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

 The modified dataframe is


DataFrame after adding a new column:
      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000    Finance
2  Charlie   35   70000         IT

In [50]:
#2. Adding Rows

print(" The actual dataframe is \n ",df)
print(" \n The modified dataframe is \n")

new_row = {"Name": "David", "Age": 40, "Salary": 80000, "Department": "Marketing"}
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
print("\nDataFrame after adding a new row:")
print(df)

 The actual dataframe is
        Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000    Finance
2  Charlie   35   70000         IT

 The modified dataframe is


DataFrame after adding a new row:
      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000    Finance
2  Charlie   35   70000         IT
3    David   40   80000  Marketing

In [51]:
# Removing Rows or Columns

print(" The actual dataframe is \n ",df)
print(" \n The modified dataframe is \n")

df = df.drop(columns=["Department"])  # Remove a column
df = df.drop(index=3)  # Remove the 4th row
print("\nDataFrame after removing a column and a row:")
print(df)

 The actual dataframe is
        Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000    Finance
2  Charlie   35   70000         IT
3    David   40   80000  Marketing

 The modified dataframe is


DataFrame after removing a column and a row:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [54]:
### SOME ANALAYTICS FUNCTIONS 
##Data Aggregation

#Perform group-by operations for summary statistics.

#print(df.groupby("Age").mean())  # Average salary by age
#Data Filtering

#Filter rows based on conditions.

print(df[df["Salary"] > 55000])  # Rows where salary > 55,000

      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000

In [55]:
#### Example for Data Analysts

# Analyzing sales data
data = {
    "Product": ["A", "B", "A", "C", "B", "A"],
    "Region": ["North", "South", "East", "North", "East", "South"],
    "Sales": [100, 200, 150, 300, 400, 250]
}
df = pd.DataFrame(data)

# Total sales by product
print("Total sales by product:")
print(df.groupby("Product")["Sales"].sum())

# Average sales by region
print("\nAverage sales by region:")
print(df.groupby("Region")["Sales"].mean())

Total sales by product:
Product
A    500
B    600
C    300
Name: Sales, dtype: int64

Average sales by region:
Region
East     275.0
North    200.0
South    225.0
Name: Sales, dtype: float64

### Important Concepts for Analysts
Merging and Joining: Combine datasets using merge() or join().
Pivot Tables: Summarize data using .pivot_table().
Reshaping Data: Use .melt() and .pivot() for reshaping.
Time Series Analysis: Analyze date/time-indexed data"