In [ ]:
## Reading Data From Diffrent sources

In [1]:
import pandas as pd

In [2]:
## First we Will convert a Json file or Json data into (String) .... again try to convert a String into Json File or Json data

In [2]:
from io import StringIO ## 
"""

StringIO in Python :-
StringIO is a class in the io module that provides an in-memory stream for text I/O. It allows you to work with strings as if they were file-like objects. This is particularly useful when you need to manipulate text data without creating temporary files on disk.

Key Features of StringIO
In-Memory File-Like Object: Acts like a file, but everything is kept in memory.
Read and Write Operations: You can read from and write to a StringIO object just as you would with a regular file.
No Disk I/O: Speeds up operations by avoiding disk access.
Useful for Testing: Ideal for simulating file operations in a controlled environment.

"""

'\n\nStringIO in Python :-\nStringIO is a class in the io module that provides an in-memory stream for text I/O. It allows you to work with strings as if they were file-like objects. This is particularly useful when you need to manipulate text data without creating temporary files on disk.\n\nKey Features of StringIO\nIn-Memory File-Like Object: Acts like a file, but everything is kept in memory.\nRead and Write Operations: You can read from and write to a StringIO object just as you would with a regular file.\nNo Disk I/O: Speeds up operations by avoiding disk access.\nUseful for Testing: Ideal for simulating file operations in a controlled environment.\n\n'

In [6]:
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
## This is a Json data ...as you see in the form of Key and Value pairs

In [7]:
### In order to read this data in the string and Convert into dataFrame then 
df=pd.read_json(StringIO(Data))
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [9]:
# Now we try to again to convert thid data Frame into json 
df.to_json()
# This json method have one By-default parameter called 'Orient' , and meaning of Orient is -> index ...... It has a Structure that I have shown below in below cell , see the Actual structure of "Orient "

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [11]:
df.to_json(orient='index') # This is By-deault structure of "orient" which is a parameter inside JSON 
# It wikk take 0 commom as comon index

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [13]:
## In a case we don't want the index. only want records then we can print that records only
df.to_json(orient='records') 
# You can see only records gets printed not the index ,,,

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

### NOW WE WILL SEE HOW TO READ URL OF CSV/HTTTP/HTML/XLX ALL THIS FILES HOW TO READ

In [14]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)

# This a Dataset of Any Bank and everything... we have copy that url from google and pasted here , here (header=None ) for now we don't want any header in the Table

In [15]:
## After reading the data , print the head
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [16]:
### Also we have another example realted to wine csv
df.to_csv("wine.csv") 
## This is used to write something "wine.csv"

In [17]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [21]:
df.describe()

## YOU CAN APPLY ALL YOUR PREVIOUS LOGIC ON THIS FILE AND PERFORM ALL THE OPEATIONS WE SAW PREVIOUSLY , YOU CAN APPLY LOGIC OF THAT ALL OPEARTIONS

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [22]:
""" NOTE:- DATA/DATASET/FILES MAY CHANGE BUT LOGIC REMAINS THE SAME , YOU NEED TO PERFORME THE LOGIC ONLY ..."""

' NOTE:- DATA/DATASET/FILES MAY CHANGE BUT LOGIC REMAINS THE SAME , YOU NEED TO PERFORME THE LOGIC ONLY ...'

In [24]:
### NOW WE SEE HOW TO READ HTML files and read them and find insights from them 
## Before that to read the HTML file we need to do installation some libaries or import something 

!pip install html5lib
!pip install beautifulsoup4
!pip install lxml

Requirement already satisfied: html5lib in d:\pythoncode\venv\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in d:\pythoncode\venv\lib\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in d:\pythoncode\venv\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: beautifulsoup4 in d:\pythoncode\venv\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in d:\pythoncode\venv\lib\site-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: lxml in d:\pythoncode\venv\lib\site-packages (5.3.0)

In [27]:
url="https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
df=pd.read_html(url)
df[0]
# Here Data is so vast you can print its index only

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund Sort ascending
0,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
1,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
2,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
3,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
4,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
5,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
6,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
7,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
8,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
9,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536

In [28]:
url="https://en.wikipedia.org/wiki/Mobile_country_code"
pd.read_html(url,match="Country",header=0)[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [30]:
### In terms to read All xlsx file:- Excel file we need to import a Libary called 
!pip install openpyxl

Requirement already satisfied: openpyxl in d:\pythoncode\venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\pythoncode\venv\lib\site-packages (from openpyxl) (2.0.0)

In [31]:
df_excel=pd.read_excel('data.xlsx')

In [32]:
df_excel.to_pickle("df_excel")

In [33]:
pd.read_pickle("df_excel")

    Name  Age
0  Krish   32
1   Jack   34
2   John   31

In [1]:
### ######  EXAMPLES OF RESOURCE AND ALL READ DATA FROM ANOTHER RESOURCES ###########

# Importing Required Libraries
import pandas as pd  # For data manipulation and analysis
import sqlite3        # For SQLite database
import requests       # For API data fetching

# --------------------------------------------------------------
# 1. READING CSV FILES
# --------------------------------------------------------------
print("1. Reading CSV Files")
df_csv = pd.read_csv('data.csv')  # Replace 'data.csv' with your file path
print("CSV Data (First 5 Rows):")
print(df_csv.head())  # Display the first 5 rows
print("\n")

# --------------------------------------------------------------
# 2. READING EXCEL FILES
# --------------------------------------------------------------
print("2. Reading Excel Files")
df_excel = pd.read_excel('data.xlsx', sheet_name='Sheet1')  # Replace 'data.xlsx'
print("Excel Data (First 5 Rows):")
print(df_excel.head())
print("\n")

# --------------------------------------------------------------
# 3. READING JSON FILES
# --------------------------------------------------------------
print("3. Reading JSON Files")
df_json = pd.read_json('data.json')  # Replace 'data.json' with your JSON file
print("JSON Data (First 5 Rows):")
print(df_json.head())
print("\n")

# --------------------------------------------------------------
# 4. READING DATA FROM DATABASES
# --------------------------------------------------------------
print("4. Reading Data from Databases")
# Creating an SQLite connection (Replace 'database.db' and 'table_name')
connection = sqlite3.connect('database.db')
df_sql = pd.read_sql_query("SELECT * FROM table_name", connection)  # Replace 'table_name'
print("SQL Data (First 5 Rows):")
print(df_sql.head())
connection.close()
print("\n")

# --------------------------------------------------------------
# 5. READING DATA FROM APIs
# --------------------------------------------------------------
print("5. Reading Data from APIs")
# Replace with a real API URL
response = requests.get("https://api.example.com/data")
if response.status_code == 200:
    data = response.json()
    df_api = pd.DataFrame(data)
    print("API Data (First 5 Rows):")
    print(df_api.head())
else:
    print("Failed to fetch API data")
print("\n")

# --------------------------------------------------------------
# 6. READING TEXT FILES (Tab-Delimited Example)
# --------------------------------------------------------------
print("6. Reading Text Files")
df_txt = pd.read_csv('data.txt', delimiter='\t')  # Replace 'data.txt' with your file path
print("Text Data (First 5 Rows):")
print(df_txt.head())
print("\n")

# --------------------------------------------------------------
# 7. READING HTML TABLES
# --------------------------------------------------------------
print("7. Reading HTML Tables")
url = 'https://example.com/data'  # Replace with a real URL containing tables
try:
    df_html = pd.read_html(url)[0]  # Reads the first table on the page
    print("HTML Table Data (First 5 Rows):")
    print(df_html.head())
except Exception as e:
    print("Failed to read HTML table:", e)
print("\n")

# --------------------------------------------------------------
# 8. READING PARQUET FILES
# --------------------------------------------------------------
print("8. Reading Parquet Files")
# Replace 'data.parquet' with your file path
df_parquet = pd.DataFrame({'sample': [1, 2, 3]})  # Dummy data for demonstration
df_parquet.to_parquet('data.parquet')  # Saving dummy data to test
df_parquet_read = pd.read_parquet('data.parquet')
print("Parquet Data (First 5 Rows):")
print(df_parquet_read.head())
print("\n")

# --------------------------------------------------------------
# 9. READING PICKLE FILES
# --------------------------------------------------------------
print("9. Reading Pickle Files")
# Replace 'data.pkl' with your file path
df_pickle = pd.DataFrame({'sample': [4, 5, 6]})  # Dummy data for demonstration
df_pickle.to_pickle('data.pkl')  # Saving dummy data to test
df_pickle_read = pd.read_pickle('data.pkl')
print("Pickle Data (First 5 Rows):")
print(df_pickle_read.head())
print("\n")

# --------------------------------------------------------------
# 10. COMBINING DATA FROM MULTIPLE SOURCES
# --------------------------------------------------------------
print("10. Combining Data from Multiple Sources")
# Concatenating CSV and Excel data as an example
df_combined = pd.concat([df_csv, df_excel], axis=0)  # Ensure both have compatible columns
print("Combined Data (First 5 Rows):")
print(df_combined.head())
print("\n")

# --------------------------------------------------------------
# 11. DATA CLEANING AND PREPARATION
# --------------------------------------------------------------
print("11. Data Cleaning and Preparation")
# Handling missing values
df_combined_cleaned = df_combined.dropna()  # Dropping rows with missing values
print("Cleaned Data (First 5 Rows):")
print(df_combined_cleaned.head())
print("\n")

# --------------------------------------------------------------
# 12. DATA TRANSFORMATION (Grouping and Aggregation)
# --------------------------------------------------------------
print("12. Data Transformation (Grouping and Aggregation)")
# Example: Grouping by a column (Replace 'category' with your column name)
if 'category' in df_combined_cleaned.columns:
    grouped_data = df_combined_cleaned.groupby('category').sum()  # Aggregating numeric columns
    print("Grouped Data (Sum by Category):")
    print(grouped_data)

# --------------------------------------------------------------
# CONCLUSION
# --------------------------------------------------------------
print("All operations were successfully performed!")

ModuleNotFoundError: No module named 'requests'

In [1]:
import random

# Random float between 0 and 1
print("Random float (0 to 1):", random.random())

# Random integer between 10 and 20
print("Random integer (10 to 20):", random.randint(10, 20))

# Random float between 2.5 and 5.5
print("Random float (2.5 to 5.5):", random.uniform(2.5, 5.5))

# Random choice from a list
colors = ['red', 'blue', 'green']
print("Random color:", random.choice(colors))

# Random sample of 2 elements
print("Random sample of colors:", random.sample(colors, 2))

# Shuffle a list
deck = [1, 2, 3, 4, 5]
random.shuffle(deck)
print("Shuffled deck:", deck)

# Using a seed for reproducibility
random.seed(42)
print("Seeded random integer:", random.randint(1, 10))

Random float (0 to 1): 0.12228651958874126
Random integer (10 to 20): 20
Random float (2.5 to 5.5): 3.4792540598127086
Random color: red
Random sample of colors: ['blue', 'green']
Shuffled deck: [3, 1, 4, 5, 2]
Seeded random integer: 2

In [4]:
# Import necessary libraries
import pandas as pd                # For data manipulation and analysis
import numpy as np                 # For numerical operations
import matplotlib.pyplot as plt    # For data visualization
import seaborn as sns              # For advanced data visualization

# Load dataset
# Replace 'your_dataset.csv' with the actual path to your dataset
data = pd.read_csv('mtcars.csv')

# Load the mtcars dataset
mtcars = sns.load_dataset("mpg")  # Use an appropriate dataset 
# Ensure only numeric columns are used in the Dataset 
mtcars_numeric = mtcars.select_dtypes(include=['number'])



# Preview the dataset
print("First 5 rows of the dataset:")
print(data.head())  # Shows the first 5 rows
print("\nDataset Info:")
print(data.info())  # Data types, non-null counts
print("\nStatistical Summary:")
print(data.describe())  # Summary statistics for numerical columns

# Check for missing values
print("\nMissing Values Count:")
print(data.isnull().sum())  # Count of missing values per column

# Handle missing values
# Example: Filling missing values in the 'Age' column with its median
if 'Age' in data.columns:
    data['Age'] = data['Age'].fillna(data['Age'].median())
    print("\nMissing values in 'Age' column filled with median.")

# Check for duplicates
print("\nNumber of Duplicate Rows:", data.duplicated().sum())
data = data.drop_duplicates()  # Remove duplicate rows
print("Duplicates removed. New shape of data:", data.shape)

# Visualize distributions of numerical columns
if 'Age' in data.columns:
    plt.figure(figsize=(8, 5))
    sns.histplot(data['Age'], kde=True, bins=20, color='blue')
    plt.title("Distribution of Age")
    plt.xlabel("Age")
    plt.ylabel("Frequency")
    plt.show()

# Boxplot to detect outliers in a numerical column
if 'Fare' in data.columns:
    plt.figure(figsize=(8, 5))
    sns.boxplot(data['Fare'], color='green')
    plt.title("Boxplot of Fare")
    plt.xlabel("Fare")
    plt.show()

# Correlation matrix to explore relationships between numerical features
plt.figure(figsize=(10, 6))
sns.heatmap(data.corr(), annot=True, cmap='coolwarm', fmt=".2f")
plt.title("Correlation Matrix")
plt.show()

# Scatter plot to analyze relationships between two variables
if 'Age' in data.columns and 'Fare' in data.columns:
    plt.figure(figsize=(8, 5))
    sns.scatterplot(x=data['Age'], y=data['Fare'], hue=data['Survived'] if 'Survived' in data.columns else None)
    plt.title("Scatter Plot: Age vs. Fare")
    plt.xlabel("Age")
    plt.ylabel("Fare")
    plt.show()

# Pie chart to visualize proportions of a categorical column
if 'Survived' in data.columns:
    survived_counts = data['Survived'].value_counts()
    plt.figure(figsize=(6, 6))
    plt.pie(survived_counts, labels=['Not Survived', 'Survived'], autopct='%1.1f%%', colors=['red', 'green'])
    plt.title("Survival Proportion")
    plt.show()

# Bar chart for categorical data
if 'Pclass' in data.columns:
    plt.figure(figsize=(8, 5))
    sns.countplot(x=data['Pclass'], palette='viridis')
    plt.title("Passenger Class Distribution")
    plt.xlabel("Passenger Class")
    plt.ylabel("Count")
    plt.show()

# Grouping and aggregation example
if 'Pclass' in data.columns and 'Fare' in data.columns:
    grouped_data = data.groupby('Pclass')['Fare'].mean()
    print("\nAverage Fare by Passenger Class:")
    print(grouped_data)

    # Bar plot for grouped data
    grouped_data.plot(kind='bar', color='purple', figsize=(8, 5))
    plt.title("Average Fare by Passenger Class")
    plt.xlabel("Passenger Class")
    plt.ylabel("Average Fare")
    plt.show()

# Export cleaned data
data.to_csv('cleaned_dataset.csv', index=False)  # Save the cleaned dataset
print("\nCleaned dataset saved as 'cleaned_dataset.csv'")

First 5 rows of the dataset:
        manufacturer   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  32 non-null     object
 1   mpg           32 non-null     float64
 2   cyl           32 non-null     int64
 3   disp          32 non-null     float64
 4   hp            32 non-null     int64
 5   drat          32 non-null     float64
 6   wt            32 non-null     float64
 7   qsec          32 non-null     float64
 8   vs            32 non-null     int64
 9   am            32 non-null     int64
 10  gear          32 non-null     int64
 11  carb          32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB
None

Statistical Summary:
             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  32.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   6.187500  230.721875  146.687500   3.596563   3.217250
std     6.026948   1.785922  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000   8.000000  472.000000  335.000000   4.930000   5.424000

            qsec         vs         am       gear     carb
count  32.000000  32.000000  32.000000  32.000000  32.0000
mean   17.848750   0.437500   0.406250   3.687500   2.8125
std     1.786943   0.504016   0.498991   0.737804   1.6152
min    14.500000   0.000000   0.000000   3.000000   1.0000
25%    16.892500   0.000000   0.000000   3.000000   2.0000
50%    17.710000   0.000000   0.000000   4.000000   2.0000
75%    18.900000   1.000000   1.000000   4.000000   4.0000
max    22.900000   1.000000   1.000000   5.000000   8.0000

Missing Values Count:
manufacturer    0
mpg             0
cyl             0
disp            0
hp              0
drat            0
wt              0
qsec            0
vs              0
am              0
gear            0
carb            0
dtype: int64

Number of Duplicate Rows: 0
Duplicates removed. New shape of data: (32, 12)

ValueError: could not convert string to float: 'Mazda RX4'